<!DOCTYPE html>
<html lang="en">
<head>
    <!--Incorporates code from both Matteo and Yumna-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/main.css">
    <title>Login</title>

    <style>
        .form-box button:last-of-type {
            background-color: transparent;
            color: #44a8f4;
            border: 1px solid #44a8f4;
            float: right;
        }
        .form-box button:last-of-type:hover {
            background-color: #44a8f4;  
            color: white;
            float: right;
            /* transition: all 0.2s ease-out; */
        } 
    </style>
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <a href="/">$APPNAME</a>
            <a href="{% url 'about'%}">About</a>
        </div>
        <div class = "navbar-right">
            <a href="{% url 'login'%}">Login</a> 
        </div>
    </div>
    <div class="form-container">
        <div class="form-box">
            <form method="post", action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label> {{form.email}}
                </div>
                <!-- {% if form.email.errors %}
                        <div class="error-message" style="display: block;">{{ form.email.errors }}</div>
                {% endif %} -->
                <div class="form-group">
                    <label for="password">Password</label> {{form.password}}
                </div>
                <!-- {% if form.password.errors %}
                        <div class="error-message" style="display: block;">{{ form.password.errors }}</div>
                {% endif %} -->
                
                <button type="submit">Login</button>
                <button type="button" onclick= "window.location.href = '/forgot-password'">Forgot Password?</button>
                <button type="button" onclick="window.location.href = '/register'">Register</button>
            </form>
            {% if message %}
                <div class="messages">
                    <div class="error-message">{{ message }}</div>
                </div>
            {% endif %}
            <!-- <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>  -->
        </div>
    </div>
</body>
</html>
